.b{
   /* 
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    */
    border: black solid 10px;
    margin: 40px 80px 120px 40px;
}

.c{
    padding: 30px;
    border: blue solid 5px;
}