.cube{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube2{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube3{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube4{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube5{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube6{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube7{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube8{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube9{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube10{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube11{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube12{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube13{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube14{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube15{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube16{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube17{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube18{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube19{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube20{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube21{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube22{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube23{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube24{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube25{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube26{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube27{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube28{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube29{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube30{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube31{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}
/* continue .cube until .cube64 */
.cube32{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}


.cube33{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube34{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube35{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube36{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube37{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}   

.cube38{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}   

.cube39{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube40{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}   

.cube41{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube42{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube43{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube44{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube45{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube46{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube47{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube48{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube49{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube50{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube51{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube52{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube53{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube54{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube55{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube56{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube57{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube58{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube59{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube60{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube61{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube62{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}

.cube63{
    background-color: rgb(139, 69, 19);
    width: 125px;
    height: 125px;
    float: left;
}

.cube64{
    background-color: rgb(255, 218, 185);
    width: 125px;
    height: 125px;
    float: left;
}